/* ESTILOS GENERALES */

* {
    margin: 0;
    padding: 0;
}

body {
    /* FONDO PAGINA */
    background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(#15ffa5, #00ced1);
    background-color: mediumspringgreen;
    background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
    background-repeat: repeat;
  }


/* HEADER */

.title h1 {
    padding: 20px 0;
    text-align: center;
    font-size: 2.9em;
    text-transform: uppercase;
}

/* CONTAINER */

.container {
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    display: grid;
    gap: 1.6em;
    /* grid-template-columns: repeat(4, 1fr) 3%; */
    grid-template-columns: repeat(5, 1fr);
}

.container>.header, .container>.content, .container>.sidebar, .container>.footer, .container>div {
    background: rgba(10, 10, 10, 0.486);
    padding: 20px;
    border: 1px solid #000000;
}

.container>.header, .container>.footer {
    grid-column: 1/-1;
    background-color: #000000;
    color: #ffffff;
}

.container>.content {
    grid-column: span 3;
    grid-row: span 4;
}

.content>.article {
    background: #01070e62;
    padding: 20px;
    margin-top: 5px;
    color: rgb(255, 255, 255)
}

.content .article h1,
.content .article p {
    padding: 10px;
}

.container>.sidebar {
    grid-column: span 2;
    grid-row: span 4;
    background: #01050a73;
    color: #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .sidebar img {
    display: block;
    width: 100%;
    margin-top: 5px;
}

.container>.related-post {
    background: #080808;
    color: #ffffff;
    height: 180px;
    ;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.container>.related-post:hover {
    cursor: pointer;
    color: #0000008e;
    background: #f0ecec8c;
}

/* MEDIA QUERIES */

@media screen and (max-width: 480px) {
    .header {
        text-align: center;
    }
    .container .content {
        grid-column: 1 / -1;
    }
    .container .sidebar {
        grid-column: 1 / 6;
    }

    .container .related-post {
        grid-column: 1/-1;
    }
}

/*Whatsapp flotante*/
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

